h2 {
    font-size: 1.1em;
}

.img-container {
    width: 100%;
}
.header-img {
    width: 100%;
}

main {
    display: flex;
    flex-flow: column;
}

footer {

}

@media (min-width: 45em) {
    .img-container {
        width: 80%;
        margin: auto;
    }
    .header-img {
        width: 80%;
        margin: auto;
    }
}